@model ProductCollection
@{
    ViewData["Title"] = "Index";
}
<h1>Sepetiniz</h1>

@if(Model.ProductItems.Count == 0){
    <div class="alert alert-danger">
        Sepetinizde ürün yok
    </div>
}
else{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Ürün Fiyatı</th>
                <th>Adet</th>
                <th>Ara Toplam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductItems)
            {
                <tr>
                    <td>@item.Product.Name - @item.Product.Description</td>
                    <td>@item.Product.Price TL</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity * item.Product.Price) TL </td>
                </tr>
                
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"> Toplam : @Model.TotalCoursePrice() TL</td>
            </tr>
        </tfoot>
    </table>
}