@model ProductDisplayResponse
<div class="d-flex align-items-stretch">
    <div class="card">
        <img src="@Model.ImageUrl"  class="img-fluid">
        <div class="card-body">
            <h4 class="card-title" style="font-size:18px;">@Model.Name</h4>
            <p class="card-text" style="font-size:14px">@Model.Description</p>
            <p class="card-text">@Model.Price TL</p>
            <button class="btn btn-success basket" data-urunid="@Model.Id">Sepete Ekle</button>
        </div>
    </div>
</div>
<br />
<!-- her ürün için dondurulecek yer aynı olacağından hep copy-paste yapmak yerine ortak bir view hazırlıyoruz -->